@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide-on-large {
  display: none;
}

.bar {
  width: 100%;
  height: 7vh;
  background: rgb(31, 105, 89);
}

.bar h2 {
  font-size: 3rem;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
  color: white;
  text-align: left;
}

.side-navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 6px -6px rgb(168, 168, 168);
  flex: 1;
  height: 100vh;
  width: 12rem;
}

.content {
  background: rgb(255, 247, 247);
  margin-left: 12rem;
  flex: 5;
}

.showcase {
  border: #4e003b solid 1px;
}

.showcase-text {
  /* border: #062742 solid 1px; */
  max-width: 800px;
  max-height: 400px;
  margin-top: 15%;
  margin-left: 40%;
}

.showcase h3 {
  margin: 5rem 0;

  text-align: center;
  font-size: 5rem;
  /* border: #2196f3 solid 1px; */
  color: rgb(31, 105, 89);
  font-family: "Yellowtail", cursive;
}

.name-card {
  background: rgb(245, 244, 244);
  flex: 1;
  text-decoration: none !important;
}

.name-card-content {
  text-align: center;
  margin: 2rem 0.5rem;
  text-decoration: none !important;
}

.name-card-content h2,
h6 {
  color: rgb(31, 105, 89);
  font-weight: 100;
}

.side-nav {
  background: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  flex: 7;
}

.side-nav a {
  margin: 0.5rem 0;
  color: black;
  text-decoration: none;
}

.side-nav a:hover {
  background: rgb(233, 232, 232);
  margin: 0.5rem 0;
  color: black;
  text-decoration: none;
  box-shadow: 10px 10px 6px -6px rgb(226, 226, 226);
}

.showcase {
  height: 100vh;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
}

/* .showcase h2 {
  text-align: center;
  padding: 20rem 20rem;
} */

.about-content {
  text-align: left;
  margin: 5rem 5rem;
  background: rgb(255, 255, 255);
  /* border: 1px solid red; */
  box-shadow: 0 10px 6px 2px #777;
}

.about-card {
  margin: 4rem 4rem;
  /* border: 1px solid blue; */
}

.about-card p {
  margin: 2rem 2rem;
  font-size: 1.5rem;
  color: rgb(29, 29, 29);
  font-weight: 200;
}

.skill-list {
  /* border: 1px solid pink; */
  margin: 2rem 3rem;
}

.skill-icons {
  display: flex;
  align-items: center;
}

.skill-card {
  flex: 1;
}

.skill-img img {
  max-width: 10rem;
  max-height: 10rem;
}

/* project section */
.projects-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.projects-nav button {
  height: 3rem;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border-bottom: none;
}

.projects-nav button:hover {
  background: #dbe7f1;
  box-shadow: 0 0 10px #cccccc, 0 0 40px #cccccc, 0 0 80px #cccccc;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 253, 253);
  color: black;
  text-align: center;
  margin: 3rem 3rem;
  box-shadow: 0 10px 6px 2px #777;
}

.project-title {
  /* border: 1px solid red; */
  height: 5rem;
}

.project-title h3 {
  margin: 1.5rem 1rem;
  /* border: 1px solid blue; */
}

.project-details {
  /* border: 1px solid rgb(1, 153, 9); */
  height: 16rem;
}

.project-details p {
  text-align: center;
  margin: 0.5rem 1rem;
  /* border: 1px solid rgb(33, 0, 94); */
}

.project-links {
  height: 2rem;
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 1fr 1fr; */
}

.project-links a {
  flex: 1;
}

/* education part */

.education-card {
  background: rgb(255, 255, 255);
  height: 20rem;
  /* border: 1px solid orange; */
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 10px 6px 2px #777;
}

.education-card div {
  margin: 2rem;
  flex: 1;
}

.contact {
  height: 18rem;
  /* border: 1px solid orange; */
  margin: 0rem 3rem;
  margin-top: 4rem;
}

.contact-button {
  /* border: 1px solid rgb(148, 20, 20); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 8rem;

  margin: 3rem 3rem;
}

.contact-button a {
  margin: 1rem 1rem;
  /* border: 1px solid black; */
  text-align: center;
}

.icons {
  width: 4rem;
  height: 4rem;
  /* border: #2196f3 1px solid; */
}

.icons:hover {
  box-shadow: 0 0 10px #ccd7e0, 0 0 40px #c7d1da, 0 0 80px #bac6cf;
}

/* 
Button effects section */
.flash-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.flash-button:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

/* media query here */
@media (max-width: 1600px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .showcase-text {
    /* border: #062742 solid 1px; */
    max-width: 600px;
    max-height: 300px;
    margin-top: 15%;
    margin-left: 30%;
  }

  .showcase h3 {
    margin: 5rem 0;

    text-align: center;
    font-size: 4rem;
    /* border: #2196f3 solid 1px; */

    color: rgb(31, 105, 89);
    font-family: "Yellowtail", cursive;
  }

  .bar {
    width: 100%;
    height: 3rem;
    background: rgb(31, 105, 89);
  }

  .bar h2 {
    font-size: 2rem;
    padding-top: 0.6rem;
    padding-left: 0.5rem;
    color: white;
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 253, 253);
    color: black;
    text-align: center;
    margin: 1.5rem 0.5rem;
    box-shadow: 0 10px 6px 2px #777;
  }
}

@media (max-width: 1000px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-card {
    margin: 1rem 0.5rem;
  }
}

@media (max-width: 813px) {
  .hide-on-small {
    display: none;
  }

  .hide-on-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .side-navbar {
    position: fixed;
    flex-direction: column;
    box-shadow: 10px 10px 6px -6px rgb(168, 168, 168);
    height: 7rem;
    width: 100vw;
  }

  .name-card {
    background: rgb(245, 244, 244);
    flex: 1;
    text-decoration: none !important;
  }

  .name-card-content {
    text-align: center;
    margin: 0.5rem 0.5rem;
    text-decoration: none !important;
  }

  .name-card-content h2,
  h6 {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(31, 105, 89);
    font-weight: 100;
  }

  .side-nav {
    background: rgb(253, 253, 253);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 0.4rem;
    flex: 1;
  }

  .side-nav a {
    font-size: 0.9rem;
    margin: 0.2rem 0;
    color: black;
    text-decoration: none;
  }

  .content {
    background: rgb(255, 247, 247);
    margin-left: 0rem;
    padding-top: 1px;
  }

  .showcase {
    border: none;
    height: 86vh;
  }

  .showcase-text {
    /* border: #062742 solid 1px; */
    max-width: 300px;
    max-height: 200px;
    padding-top: 15vh;
    margin-left: 38vw;
  }

  .showcase h3 {
    margin: 0 0;

    text-align: center;
    font-size: 2.5rem;
    /* border: #2196f3 solid 1px; */
    color: rgb(31, 105, 89);
    font-family: "Yellowtail", cursive;
  }

  .projects-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-card {
    margin: 2rem 2.5rem;
  }

  .contact-button {
    /* border: 1px solid rgb(148, 20, 20); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 8rem;

    margin: 3rem 3rem;
  }

  .bar {
    width: 100%;
    height: 3rem;
    background: rgb(31, 105, 89);
  }

  .bar h2 {
    font-size: 2rem;
    padding-top: 0.6rem;
    padding-left: 0.5rem;
    color: white;
    text-align: left;
  }

  .about-content {
    text-align: center;
    margin: 2rem 1rem;
    background: rgb(255, 255, 255);
    /* border: 1px solid red; */
    box-shadow: 0 10px 6px 2px #777;
  }

  .about-card {
    margin: 1rem 1rem;
    /* border: 1px solid blue; */
  }

  .about-card p {
    font-size: 1rem;
    color: rgb(29, 29, 29);
    font-weight: 200;
  }
}